<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Listado   de usuarios</title>
</head>
<body>
	 <h1>Usuarios registrados</h1>
	 <ul>
        <li id="lista"></li>
	 </ul>

    <script src="js/jquery-slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	 <script type="text/javascript" >
          data=<%-JSON.stringify(documentos)%>
          debugger;
          $(document).ready(function(){
           var lista= $("#lista");
          $.each(data, function(i,item){
			lista.append("<br>"+i+" - "+data[i].nombre+" - "+data[i].apellido+" - "+data[i].email+" - "+data[i].edad);
		});

          });
          

	 </script>
</body>
</html>