<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Listado   de usuarios</title>
</head>
<body>
	 <h1>Usuarios registrados</h1>
	 <ul>
        <li></li>
	 </ul>


	 <script type="text/javascript">
          data=<%-JSON.stringify(documentos)%>
          debugger;
          $.each(data, function(i,item){
			document.write("<br>"+i+" - "+data[i].nombre+" - "+data[i].apellido+" - "+data[i].email+" - "+data[i].edad);
		})

	 </script>
</body>
</html>